# Showcase

In [1]:
import sys
import pandas as pd
import numpy as np

import seaborn as sns

from widgetplots import menu_plot
%config InlineBackend.figure_format = 'retina'

## Dummy data

In [2]:
data_frame = sns.load_dataset('penguins')
data_frame.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

## Examples

In [3]:
menu_plot(data_frame, x='species', y='body_mass_g', hue='sex', plot='boxplot',
          palette="tab10")

HBox(children=(Dropdown(description='Plot:', options=(('boxplot', <function boxplot at 0x157e00cc0>), ('scatte…

Output()

In [5]:
menu_plot(data_frame, x='bill_length_mm', y='bill_depth_mm', hue='sex', plot='scatterplot')

HBox(children=(Dropdown(description='Plot:', options=(('scatterplot', <function scatterplot at 0x15799e2a0>), …

Output()

In [6]:
menu_plot(data_frame, x='species', y='bill_depth_mm')

HBox(children=(Dropdown(description='X variable:', options=('species', 'island', 'bill_length_mm', 'bill_depth…

Output()

In [7]:
menu_plot(data_frame, x='bill_length_mm', y='bill_depth_mm', graphics=[sns.scatterplot])

HBox(children=(Dropdown(description='X variable:', index=2, options=('species', 'island', 'bill_length_mm', 'b…

Output()

In [9]:
menu_plot(data_frame, x='bill_length_mm', y='bill_depth_mm', hue='species', graphics=[sns.kdeplot])

HBox(children=(Dropdown(description='X variable:', index=2, options=('species', 'island', 'bill_length_mm', 'b…

Output()